<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF_8">
    <title>Gestion PFE</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/newuserstyle.css" type="text/css">
    
  </head>
  <body>

    <nav>
      <ul>
    <li class="logo"><img src="/images/fst_logo.jpg" alt="logo"></li>
    <div class="main-link">
        <li ><a th:href="@{/Etudiant/profile}">Profil</a></li>
          <li><a th:href="@{/Etudiant/Groupe}">Mon PFE</a></li>
    <li class="active"><a th:href="@{/Etudiant/appointment}">rendez-vous</a></li>
    <li ><a th:href="@{/Etudiant/showreportform}"> <i class="fa fa-file-text-o"></i> Declarer</a></li>
  
     </div>
    <li class="logout"><a th:href="@{/logout}"><i class="fa fa-sign-out text-center mr-1"></i>Log out</a></li>				
    
      </ul>
  </nav>

    <div class="form-container">
      <div class="messages">
        <div th:if="${messagfail}" class="alert alert-fail text-center">
            [[${messagfail}]]
          </div>
          </div>
      
          <h2> Choisissez l'rendez vous disponible</h2>
      
      <form th:action="@{/Etudiant/selectrendezvous}" method="post">
        <div class="form-field">
          <label for="time">Select Time:</label>
        <select class="form-control" id="time" name="bookingId" required>
            <option th:each="booking : ${listbookings}" th:value="${booking.id}" th:text="${booking.time}"></option>
        </select>
        </div>
       
        <div class="form-field">
          <input type="submit" value="Reserver">
        </div>
      </form>
    </div>
  </body>
</html>